
@{
    ViewData["Title"] = "Donations";
}
<link rel="stylesheet" href="~/css/donations.css" type="text/css" />
<div class="explain">
    <h1 id="donations">Donations</h1>
    <p>
        Thank you, greatly, for your interest in donating to our cause! We sincerely appreciate your generous heart, and hope that God continues to
        bless you in every way that enables you to offer so freely! Regretfully, however, we must respectfully decline your offer, as our cause is
        for God and God alone. We do not want any monetary temptations to hover over us, and hope you can understand this: What we do, we do because
        God has placed it on our hearts.
    </p>
    <p>
        Don't let this get you down, though! We still encourage you to offer your donation, but we feel it would be better utilized for God's Kingdom
        elsewhere. We encourage you to pray about it but if you need some help, feel free to opt for one of the following (in our preferential
        sequence):
    </p>
    <p class="extra">
        Your home church - Give your generous donation to help further God's Kingdom by donating to your own home church. If you do not have a home
        church, we would first ask you to find one. <a class="cedarlink" href="http://www.cedarcreek.tv">CedarCreek</a> would love the opportunity to serve you, if
        you need some help.
    </p>
    <p class="extra">
        A Local church of your choosing - Trusting God to pool your donation into his earthly resources to further his Kingdom on Earth... There is
        no better feeling than to give a portion back of what's been given to you.
    </p>
    <p class="extra">A local charity - God has placed you where you are at, and your local community could benefit from your generosity.</p>
    <p class="extra">
        A global charity - Organizations (like local missions for example) are financed solely by volunteers. Their cause is great, but be sure that
        first, and foremost, your donation goes for the purpose of furthering God's Kingdom. If it has no eternal value, it is not worth the charity.
    </p>
    <p class="extra">
        Our church (CedarCreek) - You can click <a class="cedarlink" href="http://www.cedarcreek.tv/give">Here</a> to be redirected to CedarCreek's "giving" page.
        CedarCreek is non-profit, and has open-book policies, completely run by its members, and... well, we could go on. Simply put, CedarCreek
        would use your generosity well, and you can learn more about that by clicking on the link.
    </p>
    <p>
        Thank you again, and may the <span style="font-variant: small-caps">Lord</span> bless you infinitely for your generous heart. And remember:
                                     <span style="font-style: italic;">"Those that use well what was entrusted to them will be entrusted with more!"</span>
    </p>
</div>
