@{
    ViewData["Title"] = "welcomes you!";
}
<link rel="stylesheet" href="~/css/index.css" type="text/css" />
<div>
    <div id="challenge">
        <h2 class="desclbl">Challenge of the Day</h2>
        <p class="description" style="text-align: center; text-indent: 0;">
           (This section still in progress...)
        </p>
    </div>
    <div id="team">
        <div class="description">
            <h2 class="desclbl">About Our Team</h2>
            <p>
                We are a small group of friends derrived from a church in northwest Ohio, known as 
                "<a class="cedarlink" href="http://www.cedarcreek.tv">CedarCreek</a>." We like to 
                play around with programming and know a few languages...but are, by no means, 
                experts in the field. This is just what we like to do and it bonds us together.
            </p>
            <p>
                God has put it on our hearts to share our creations with the world...or at least the 
                immediate area. We are certain that God will lead whomever he chooses to this site, 
                and however he chooses to use it we are greatful for. 
                All glory to God in the highest, Amen.
            </p>
        </div>
    </div>
    <div id="church">
        <div id="growthtrack">
            <p style="margin: 0;"><img src="~/img/SplashScreen720x1080.png" alt="GrowthTrack Image" /></p>
        </div>
        <div id="churchdesc">
            <div class="description">
                <h2 class="desclbl">About Our Church</h2>
                <p>
                    CedarCreek Church wants every one of its members to recognize that it's okay to not 
                    be okay. Their mission is to help the spiritually restless and unchurched people 
                    love Jesus, serve others, and tell the world about Christ. One way they do this is 
                    to encourage its members to become involved in small group life. Another is through Growth Track.
                </p>
                <p>
                    Small group life serves in a manner similar to the life of Jesus with his twelve disciples: His small 
                    group of authentic relationships that he shared his life with. You see, Jesus had 
                    many followers. He had the massive crowds that followed him to hear his teachings, 
                    he had the smaller, yet still very large group of disciples that listened to his 
                    teachings and considered him "friend," and he had the very small group (of 13 people) 
                    that he shared his life with. This is the focus of CedarCreek: Authentic Relationships. 
                </p>
                <p>
                    Growth Track is all about the Spiritual Journey with the simple mindset that "If you're not dead: You're 
                    not done." The best way we can find to help understand this concept is with this diagram.
                </p>
            </div>
        </div>
    </div>
</div>