@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" href="~/css/privacy.css" type="text/css" />

<div id="privacy">
    <h1>@ViewData["Title"]</h1>
    <p>
        When it comes to your privacy, we keep it as a top priority. As a matter of fact, Our entire website began with a
        unique encryption algorithm. No one has a key to the decryption, or even knows how it's constructed. This ensures
        that your data is kept safe. However, we fully understand that when someone wants to, they can crack the system.
    </p>
    <p>
        That's why we leave the final details to you. How much information you are willing to trust to the system is entirely
        up to you. This determines your final level of security. The more data you want to keep hidden, the stronger the
        lock. The stronger the lock, however, the more annoying the password requirements will be.
    </p>
    <p>
        When it comes to our privacy we have no policy. We are fully aware of the dangers of the internet to proprietary
        information. We are here to serve you, so whatever you find is yours to use as freely as you wish. We do not believe
        in copyrights or protecting our own work, as we believe that what we are doing is sharing what we do for God with
        the world. God will use it as he sees fit.
    </p>
    <p>Enjoy!</p>
</div>