
@{
    ViewData["Title"] = "Tools";
}
<link rel="stylesheet" href="~/css/tools.css" type="text/css" />

<div id="tools">
    <h1>Tools for the Spirit</h1>
    <p>This page is dedicated to discovering your unique purpose that God has designed specifically for you. As of right now, there is only one tool, 
    but as we progress we will upload any others that come to mind.</p>
    <p>The Spiritual Gift's Assessment is primarily designed for helping people find a way to use their spiritual gifts somewhere within our church. 
    The benefit is that even if you don't wish to join one of CedarCreek's Dream Teams, it still provides a way to discover your purpose by recognizing 
    what your spiritual gifts are. There are 19 potential gifts and, when mixed with a "DISC" Personality test can help you learn more about what God 
    has in store for you.</p>
    <p>Do not take this lightly, however. There are approximately 120 questions and it may take some time to finish.</p>
    <button id="sga" type="button" onclick="location.href='@Url.Action("Assess", "Home")'"></button>
</div>