@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <footer>
        <style>
            #foot {
                display: block;
                color: white;
                text-align: center;
            }
            .hidden {
                color: white;
            }
            .hidden:visited {
                color: white;
            }
        </style>
        <div>
            <p id="foot">
                &copy; 2019 - CedarGeek
                <a class="hidden" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <a class="hidden" asp-area="" asp-controller="Home" asp-action="Donations">Donations</a>
            </p>
        </div>
    </footer>
